&nbsp;
<div class="card">

    <div class="card-body">
        <div class="container">
            <h1>Vira Discord Bot Website</h1>
        </div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et nam voluptates ipsam minus fugiat omnis tempore nisi, vero laboriosam id nobis quis dolorum, consequatur reiciendis doloremque quod vitae facere explicabo.</h4>
        &nbsp;

    </div>

</div>